.cursor-coords-control {
  background: rgba(255, 255, 255, 0.8);
  font-family: monospace;
  text-align: center;
  border-radius: 5px;
}

#map-cursor-coords:empty,
.cursor-coords-control:empty {
  display: none;
}

.toro-ctrl-top-left .mapboxgl-ctrl,
.toro-ctrl-top-left .toro-ctrl {
  float: left;
  margin: 10px 0 0 10px;
}
.toro-ctrl-top-right .mapboxgl-ctrl,
.toro-ctrl-top-right .toro-ctrl {
  float: right;
  margin: 10px 10px 0 0;
}
.toro-ctrl-bottom-left .mapboxgl-ctrl,
.toro-ctrl-bottom-left .toro-ctrl {
  float: left;
  margin: 0 0 10px 10px;
}
.toro-ctrl-bottom-right .mapboxgl-ctrl,
.toro-ctrl-bottom-right .toro-ctrl {
  float: right;
  margin: 0 10px 10px 0;
}

.mapboxgl-ctrl-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.cursor-coords-control #map-cursor-coords {
  margin: 0;
  padding: 3px 10px;
  min-width: 200px;
}

.mapboxgl-ctrl .mapbox-gl-draw_ctrl-draw-btn {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  color: black;
  min-width: fit-content;
}

.maplibre-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: var(--loader-bg-colour);
}

.maplibre-loading-overlay.busy-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maplibre-loading-overlay .loader {
  width: 100%;
  height: 100%;
}

.maplibre-loading-overlay.initial-loader .loader {
  background: linear-gradient(
      90deg,
      rgba(var(--loader-colour), 0.05) 33%,
      rgba(var(--loader-colour), 0.3) 50%,
      rgba(var(--loader-colour), 0.05) 66%
    )
    var(--loader-bg-colour);
  background-size: 300% 100%;
  animation: initialloader 4s infinite linear;
}

@keyframes initialloader {
  0% {
    background-position: right;
  }
}

.maplibre-loading-overlay.busy-loader .loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: var(--loader-colour);
  box-sizing: border-box;
  animation: busyloader 1s linear infinite alternate;
}

@keyframes busyloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

/** Hide the export stuff **/

.toro-ctrl-group:has(.toro-export-control),
.toro-ctrl-group:has(.toro-export-list),
.toro-export-control,
.toro-export-list {
  display: none;
}
